---
import type { Page, PaginateFunction } from 'astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

import Posts from '@/components/Posts.astro';
import { PAGINATION } from '@/config/site';
import { defaultLang } from '@/i18n/ui';
import { useTranslations, generateHreflangs } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';

export type Props = {
  page: Page<CollectionEntry<'blog'>>;
};

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const posts = (await getCollection('blog'))
    .filter((post) => post.data.isPublished)
    .filter((post) => {
      const [lang] = post.slug.split('/');
      return lang === defaultLang;
    })
    .sort(
      (a, b) =>
        (a.data.lastUpdated ?? a.data.published).getTime() -
        (b.data.lastUpdated ?? b.data.published).getTime(),
    )
    .reverse();

  return paginate(posts, { pageSize: PAGINATION.pageSize });
}

const { page } = Astro.props;
const lang = defaultLang;
const t = useTranslations(lang);
---

<Layout
  title={`${t('blog.index')} | ${t('main.title')}`}
  description={t('blog.description')}
  path="/blog"
  lang={lang}
  og={{
    enabled: true,
  }}
  hreflangs={generateHreflangs('blog')}
>
  <main><Posts title={t('blog.index')} page={page} /></main>
</Layout>
