---
import type { defaultLang } from '@/i18n/ui';

import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
  title={t('main.title')}
  description={t('main.description')}
  path="https://www.funailog.com"
  og={{
    enabled: true,
  }}
  lang={lang}
  hreflangs={[
    { path: '/', hreflang: defaultLang },
    { path: '/en', hreflang: 'en' },
    { path: '/en', hreflang: 'x-default' },
  ]}
>
  <main>
    <h1>{t('main.title')}</h1>
    <p>{t('index.comment')}</p>
  </main>
</Layout>
