---
import { getEntry } from 'astro:content';

import {
  getLangFromUrl,
  useTranslations,
  generateHreflangs,
} from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';
import { WebsiteLd } from '@/lib/rich-results';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const site = Astro.site ?? '';
const meta = await getEntry('site', 'meta');
if (!meta) {
  throw new Error('Site meta configuration not found');
}
---

<Layout
  title={t('main.title')}
  description={t('main.description')}
  path="/en"
  og={{
    enabled: true,
  }}
  lang={lang}
  hreflangs={generateHreflangs('')}
  jsonLdSchema={WebsiteLd(meta, site, lang)}
>
  <main>
    <h1>{t('main.title')}</h1>
    <p>{t('index.comment')}</p>
  </main>
</Layout>
