---
import Link from '@/components/Link.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
  title=`404 Not Found | ${t("main.title")}`
  description="The page you are looking for hasn't been found"
  path="/404"
  og={{
    enabled: false,
  }}
  ><main class="mx-auto py-12 text-center">
    <h1>404 Not Found</h1>
    <p class="text-sm text-secondary-foreground">
      The page you are looking for hasn't been found.
    </p>
    <p>
      <Link href="/">Go Back to Home.</Link>
    </p>
  </main></Layout
>
