---
import Link from '@/components/Link.astro';
import { defaultLang } from '@/i18n/ui';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
  title={`${t('404.title')} | ${t('main.title')}`}
  description={t('404.description')}
  path="/404"
  lang={defaultLang}
  og={{
    enabled: false,
  }}
  noindex
  hreflangs={[
    { path: '/404', hreflang: defaultLang },
    { path: '/404', hreflang: 'x-default' },
  ]}
>
  <div class="mx-auto py-12 text-center">
    <h1>{t('404.title')}</h1>
    <p class="text-secondary-foreground text-sm">
      {t('404.description')}
    </p>
    <p>
      <Link href="/">{t('404.back')}</Link>
    </p>
  </div>
</Layout>
