---
import { getEntry } from 'astro:content';

import { useTranslations, generateHreflangs } from '@/i18n/utils';
import Layout from '@/layouts/Layout.astro';
import { WebsiteLd } from '@/lib/rich-results';

const t = useTranslations('ja');
const site = Astro.site ?? '';
const meta = await getEntry('site', 'meta');
if (!meta) {
  throw new Error('Site meta configuration not found');
}
---

<Layout
  title={t('main.title')}
  description={t('main.description')}
  path="/"
  og={{
    enabled: true,
  }}
  hreflangs={generateHreflangs('')}
  jsonLdSchema={WebsiteLd(meta, site)}
>
  <main>
    <h1>{t('main.title')}</h1>
    <p>{t('index.comment')}</p>
  </main>
</Layout>
