---
import { HomeIcon, Pencil2Icon, PersonIcon } from '@radix-ui/react-icons';

import ButtonLink from '@/components/ButtonLink.astro';
import { ModeToggle } from '@/components/mode-toggle';
import { cn } from '@/lib/utils';
const url = Astro.url;
---

<header>
  <nav id="global">
    <div class="flex w-full grow">
      <div class="mr-auto">
        <ModeToggle client:only="react" />
      </div>
      <div class="flex justify-end">
        <ButtonLink
          aria-label="Go to Home page"
          variant="ghost"
          size="sm"
          class={cn(
            'gap-2 rounded-lg',
            url.pathname === '/' && 'text-link-active',
          )}
          href="/"
        >
          <HomeIcon className="size-4" />
          <span class="hidden sm:block">Home</span>
        </ButtonLink>
        <ButtonLink
          aria-label="Go to Blog page"
          variant="ghost"
          size="sm"
          class={cn(
            'gap-2 rounded-lg',
            url.pathname.includes('/blog') && 'text-link-active',
          )}
          href="/blog"
        >
          <Pencil2Icon className="size-4" />
          <span class="hidden sm:block">Blog</span>
        </ButtonLink>
        <ButtonLink
          aria-label="Go to Portfolio page"
          variant="ghost"
          size="sm"
          class={cn(
            'gap-2 rounded-lg',
            url.pathname.includes('/portfolio') && 'text-link-active',
          )}
          href="/portfolio"
        >
          <PersonIcon className="size-4" />
          <span class="hidden sm:block">Portfolio</span>
        </ButtonLink>
      </div>
    </div>
  </nav>
</header>
