---
import { ExternalLinkIcon } from '@radix-ui/react-icons';

import LinkCard from '@/components/LinkCard.astro';
import { cn, linkStyles } from '@/lib/utils';

type Props = {
  href: string;
  ['data-linkcard']?: string;
};

const props = Astro.props;
const isInternal = props.href.startsWith('/');
const isAnchor = props.href.startsWith('#');
const linkClass = cn(linkStyles.base, linkStyles.inline, 'px-2');
---

{
  Object.hasOwn(props, 'data-linkcard') ? (
    <LinkCard {...props}>
      <slot />
    </LinkCard>
  ) : isAnchor || isInternal ? (
    <a href={props.href} class={linkClass}>
      <slot />
    </a>
  ) : (
    <a
      target="_blank"
      rel="noopener noreferrer"
      href={props.href}
      class={linkClass}
    >
      <slot />
      <ExternalLinkIcon className="ml-1 size-4" />
    </a>
  )
}
