---
import type { HTMLAttributes } from 'astro/types';

import LinkCard from '@/components/LinkCard.astro';
import { defaultLang } from '@/i18n/ui';
import { useTranslations } from '@/i18n/utils';
import { cn, linkStyles } from '@/lib/utils';

type Props = HTMLAttributes<'a'> & {
  href: string;
  ['data-linkcard']?: string;
};

const props = Astro.props;
const t = useTranslations(defaultLang);
const isInternal = props.href.startsWith('/');
const isAnchor = props.href.startsWith('#');
const linkClass = cn(linkStyles.base, linkStyles.inline);
---

{
  Object.hasOwn(props, 'data-linkcard') ? (
    <LinkCard {...props}>
      <slot />
    </LinkCard>
  ) : isAnchor || isInternal ? (
    <a {...props} class={linkClass}>
      <slot />
    </a>
  ) : (
    <a
      {...props}
      target="_blank"
      rel="noopener noreferrer"
      class={linkClass}
      aria-label={`${props.href} (${t('a11y.externalLink')})`}
    >
      <slot />
    </a>
  )
}
