---
import ButtonLink from './ButtonLink.astro';

import { defaultLang, showDefaultLang } from '@/i18n/ui';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const url = Astro.url;
const lang = getLangFromUrl(url);
const t = useTranslations(lang);
---

<div class="py-12 text-center">
  <h2>{t('content.notfound')}</h2>

  <ButtonLink
    href={!showDefaultLang && lang === defaultLang ? `/blog` : `/blog/${lang}`}
    class="mt-8"
    size="sm"
    variant="link"
    aria-label={t('content.back')}
  >
    {t('content.back')}
  </ButtonLink>
</div>
