---
import ButtonLink from '@/components/ButtonLink.astro';
import { useTranslations } from '@/i18n/utils';

const t = useTranslations('ja');
---

<div class="py-12 text-center">
  <h2>{t('content.notfound')}</h2>

  <ButtonLink
    href="/blog"
    class="mt-8"
    size="sm"
    variant="link"
    aria-label={t('content.back')}
  >
    {t('content.back')}
  </ButtonLink>
</div>
